@media screen and (min-width: 426px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .nav-container {
        align-items: center;
        gap: 5px;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .logo {
        gap: 5px;
    }

    .section-title {
        color: #0B0223;
        font-size: 2rem;
        font-weight: 600;
        line-height: normal;
    }

    .logo img {
        width: 60px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 30px;
        width: 100%;
        padding: 30px;
        background-image: none;
        gap: 20px;
        height: auto;
        padding-left: 15px;
    }

    .banner-container img {
        width: 100%;
    }

    .games-container {
        margin-top: 30px;
        height: auto;
    }

    .card-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card-container img {
        width: 310px;
    }

    .play-container {
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 20px;
        height: auto;
        gap: 0;
        align-items: center;
        justify-items: center;
        padding-left: 20px;
    }

    .play-title,
    .play-description {
        text-align: center;
    }

    .play-content {
        width: 100%;
        margin-bottom: 0;
    }

    .play-description {
        margin: 0 auto;
        max-width: 70%;
    }

    .play-img {
        width: 100%;
        align-items: center;
        margin-left: 150px;
        margin-top: 0;

    }

    .play-img img {
        max-width: 75%;
        align-content: center;

    }

    .small-img {
        right: 70px;
        width: 30%;
        top: 750px
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 40px;
        margin-top: 170px;
        margin-bottom: 40px;
        height: auto;
        justify-content: center;
    }

    .button {
        padding: 10x 15px;
        width: auto;
        font-size: 0.8rem;
        background-size: 40px;
    }


    footer {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    .footer-menu ul,
    .useful-link ul {
        flex-wrap: wrap;
        font-size: 0.8rem;
        gap: 20px;
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .social-icon {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        width: 80%;
        margin-top: 15px;

    }

    .useful-link small {
        font-size: 0.8rem;
        margin-top: 10px;
    }

}